*{
    background: slategray;
}
.pasfoto{
    width: 142px;
    height: 143px;
}

.header{
    text-align: center;
    color: orange;
}


.list-group{
    position: fixed;
}

#list-item-1{
    color: saddlebrown;
    background: lightseagreen;
}

#list-item-2{
    color: saddlebrown;
    background: lightseagreen;
}

#list-item-3{
    color: saddlebrown;
    background: lightseagreen;
}

#list-item-4{
    color: saddlebrown;
    background: lightseagreen;
}

p{
    color: lightgoldenrodyellow;
}

li{
    color: lightgoldenrodyellow;
}

